<!--<div id="page-wrapper" style="min-height: 860px;">-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Aquisições do Cliente</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Aquisições
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                           <div class="col-lg-25">
                              <div class="panel panel-default">
                           <!-- <div class="panel-heading">
                                Hover Rows
                            </div>-->
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Hospedagem</th>
                                                <!--<th>#</th>-->
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Hospedagem KPL</td>
                                                <td>
                                                    <select class="form-control">
                                                        <option>Amazon</option>
                                                        <option>Tivit</option>
                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    ID do ambiente
                                                </td>
                                                <td>
                                                   <input type='text'>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>


                </form>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
        <!--</div>-->